[data-type="pagetab"] .label {
    padding-top: 0px;
}

.gridster li header,
.card>header {
    background: gray;
    color: white;
}

[data-device="MuellterminDummy"]  .fa_circle{
    background: gray;
}